.common_form {
  text-align: center;
}

.centred_title {
  margin-top: 198px;
}

.left_title {
  margin-top: 198px;
}

.search_selector {
  text-align: right;
  margin: 20px;
  button {
    border: none;
    margin: 2px
  }
}

.search_string {
  background-image: url(https://img.icons8.com/ios-glyphs/30/000000/search--v1.png);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 1rem;
  border: 1px solid gray;
  border-radius: 24px;
  width: 582px;
  height: 44px;
  padding: 5px 8px 0 16px;
  padding-left: 55px;
  padding-top: 0px;

}

%button {
  margin: 11px 4px;
  padding: 0px 16px;
  border: none;
}
.search_button {
    @extend %button;
    background-color: rgba(201, 201, 41, 0.432);
    border-radius: 12px;
    height: 36px;
    font-size: 20px;
}

.adv_search_button {
    @extend %button;
    background-color: #8ab4f8;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
}

.appbar {
    color: rgba(255, 0, 0, 0.651);
    font-size: 20px;
    margin: 25px 35px;
    font-weight: bold;
    font-style: inherit;
}

.adv_sub_title {
    margin: 40px 40px 0px 50px;
    width: 16%;
    font-weight: bold;
    max-width: 230px;
}
.advanced_search_div {
    max-width: 1140px;
    min-width: 200px;
    // width: 96%;
    margin: 0px 40px 40px 40px;
    // input[type="search"] {
    //     width: 526px;
    //     margin: 10px;
    //     // margin-left: 50px;
    // }
    display: grid;
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 20% 50%;
    input[type="search"] {
      width: 100%;
    }
    input[type="submit"]{
      float: right;
      margin-right: 0px;
    }
}

// .adv_search_desc {
//   min-width: 167px;
// }

// .adv_sub_div {
//     float: left;
//     margin-top: 12px;
//     width: 16%;
// }

.advanced_search_strings {
    width: 526px;
}

.terminator {
    border-bottom: 1px solid gray;
}

h1 {
  text-align: center;
}
